.App {
  text-align: center;
}

/* put each of the data in separate flexbox */
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
